$primary-color:#7fad39;
$background-color:#f3f6fa;
$text-color:#1c1c1c;
$numbers:(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$mobile-width: 600px;
$tablet-width: 1024px;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-shadow-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;