.slick-slider {
    height: 270px;
}

.slick-prev,
.slick-next {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 50px;
    background: #ececec;
    z-index: 99;
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
}

.slick-prev {
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
}

.slick-next {
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
}

.item {
    position: relative;
    height: 270px;
    &__bg {
        border: 1px solid #d6caca;
        border-radius: 10px;
        margin: 0 10px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    &__name {
        cursor: pointer;
        width: 70%;
        text-align: center;
        background: #fffcfc;
        padding: 10px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
        a {
            @include text(1.5rem, 700, uppercase, #1c1c1c, unset);
            text-decoration: none;
        }
        &:hover {
            background: #ececec;
        }
    }
}