.searchbox {
    width: 600px;
    .search {
        width: 70%;
        height: 50px;
        padding: 10px 20px;
        border: 1px solid #ebebeb;
        @include text(1.4rem, 500, unset, #333, unset);
    }
    .search-btn {
        cursor: pointer;
        background: $primary-color;
        padding: 0 20px;
        height: 50px;
        @include text(1.5rem, 700, unset, #ffffff, unset);
        transition: 0.3s;
        &:hover {
            background: #149926;
        }
    }
}