.section {
    text-align: center;
    &__title {
        margin-bottom: 50px;
        h2 {
            position: relative;
            @include text(3.6rem, 700, unset, #1c1c1c, unset);
            &::after {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                right: 0;
                width: 80px;
                height: 4px;
                background: $primary-color;
                margin: 0 auto;
            }
        }
    }
}