.featured {
    padding-top: 80px;
    &__nav {
        margin-bottom: 50px;
        &__list {
            margin: 0;
            padding: 0;
            &__item {
                position: relative;
                cursor: pointer;
                display: inline-block;
                margin-right: 25px;
                transition: 0.2s ease-in-out;
                a {
                    display: block;
                    @include text(1.6rem, 500, unset, #1c1c1c, unset);
                    text-decoration: none;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background: $primary-color;
                    opacity: 0;
                }
                &.active::after {
                    opacity: 1;
                }
            }
        }
    }
}