.featured {
    padding-top: 80px;
    padding-bottom: 40px;
    &__nav {
        margin-bottom: 50px;
        &__list {
            margin: 0;
            padding: 0;
            &__item {
                position: relative;
                cursor: pointer;
                display: inline-block;
                margin-right: 25px;
                transition: 0.2s ease-in-out;
                a {
                    display: block;
                    @include text(1.6rem, 500, unset, #1c1c1c, unset);
                    text-decoration: none;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background: $primary-color;
                    opacity: 0;
                }
                &.active::after {
                    opacity: 1;
                }
            }
        }
    }
    .featured-product {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        &__item {
            cursor: pointer;
            width: calc(100% / 4 - 30px);
            margin-left: 30px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 8px;
            margin-bottom: 50px;
            &__img {
                position: relative;
                flex-shrink: 0;
                width: 100%;
                height: 270px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                overflow: hidden;
            }
            &__text {
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            &__title {
                line-height: 1.6rem;
                margin-bottom: 10px;
                a {
                    @include text(1.6rem, 500, capitalize, #252525, unset);
                    text-decoration: none;
                }
            }
            &__price {
                @include text(1.4rem, 700, capitalize, $primary-color, unset);
            }
            .option {
                position: absolute;
                bottom: -50px;
                left: 0;
                right: 0;
                text-align: center;
                width: 100%;
                transition: all, .5s;
                li {
                    display: inline-block;
                    margin-right: 6px;
                    transition: ease-in-out 0.6s;
                    position: relative;
                    a {
                        display: block;
                        font-size: 1.7rem;
                        color: #1c1c1c;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #ebebeb;
                        background: #fff;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 40px;
                        span {
                            display: none;
                            position: absolute;
                            top: -35px;
                            left: 0;
                            width: 80px;
                            height: 28px;
                            line-height: 30px;
                            background: #fffbfb;
                            border: 1px solid #ebebeb;
                            @include text(1.2rem, 600, capitalize, #252525, unset);
                        }
                        &:hover span {
                            display: inline-block;
                        }
                    }
                    &:hover a {
                        border: 1px solid $primary-color;
                        background: $primary-color;
                    }
                    &:hover a .icon {
                        transform: rotate(360deg);
                        color: #ffffff;
                    }
                }
            }
            &:hover .option {
                bottom: 20px;
            }
        }
    }
}